VITE_FIREBASE_API_KEY=AIzaSyCXK0KHqLhKVAAm5xr0ASbFKJM5IwVLeTY
VITE_FIREBASE_AUTH_DOMAIN=agri--sps-project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=agri--sps-project
VITE_FIREBASE_STORAGE_BUCKET=agri--sps-project.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=762110077628
VITE_FIREBASE_APP_ID=1:762110077628:web:9d219b9d67bbecf270beb9

VITE_API_BASE_URL=

VITE_RAZORPAY_KEY_ID=rzp_test_xxxxx

